<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.carpalx</string>
	<key>CFBundleName</key>
	<string>Carpalx</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_CarpalxQ</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.carpalxq</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_DHRLWB</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.dhrlwb</string>
		<key>TISIntendedLanguage</key>
		<string>fil-PH</string>
	</dict>
	<key>KLInfo_De Correspondent 1</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.decorrespondent1</string>
		<key>TISIntendedLanguage</key>
		<string>nl</string>
	</dict>
	<key>KLInfo_De Correspondent 2</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.decorrespondent2</string>
		<key>TISIntendedLanguage</key>
		<string>nl</string>
	</dict>
	<key>KLInfo_GYLMWP</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.gylmwp</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_HDRLPW</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.hdrlpw</string>
		<key>TISIntendedLanguage</key>
		<string>fil-PH</string>
	</dict>
	<key>KLInfo_Hogendoorn</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.hogendoorn</string>
		<key>TISIntendedLanguage</key>
		<string>nl</string>
	</dict>
	<key>KLInfo_JBKDMH</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.jbkdmh</string>
		<key>TISIntendedLanguage</key>
		<string>fil-PH</string>
	</dict>
	<key>KLInfo_PBFMWJ</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.pbfmwj</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_QFMLWY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.qfmlwy</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_QGMLWB</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.qgmlwb</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_QGMLWY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.qgmlwy</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_QHRPBE</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.qhrpbe</string>
		<key>TISIntendedLanguage</key>
		<string>fil-PH</string>
	</dict>
	<key>KLInfo_QWKRFY</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.qwkrfy</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_QWYRFM</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.qwyrfm</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_TNWMLC</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.tnwmlc</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_VURPYF</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.vurpyf</string>
		<key>TISIntendedLanguage</key>
		<string>fil-PH</string>
	</dict>
	<key>KLInfo_WHRPBF</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.carpalx.whrpbf</string>
		<key>TISIntendedLanguage</key>
		<string>fil-PH</string>
	</dict>
</dict>
</plist>
